*.o
*.so
*.dll
*.exe
__pycache__/
.venv/
simulations/grid/results/
simulations/batch/
tests/routing_test
artifacts/logs/batch/
artifacts/logs/*.csv
src/Makefile
src/out/
src/**/*_m.cc
src/**/*_m.h
results/raw/*
!results/raw/.gitkeep
results/processed/*
!results/processed/.gitkeep
results/graphs/*
!results/graphs/.gitkeep
